<!-- head -->

<meta charset="UTF-8">
<title>Good site</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/styles/common.css">
<script type="text/javascript" src="/public/js/main.js"></script>
