<head>
    <% include ./head %>
</head>

<body>
    <header>
        <% include ./header %>
    </header>
    <div class="container">
        <div class="jumbotron">
            <h1 id="hello">Hello, world!</h1>
            <div class="nums">
                <% for(var i=0; i<10; i++) {%>
                    <div><%= i %></div>
                <% } %>
            </div>
        </div>
    </div>
</body>

<footer>
    <% include ./footer %>
</footer>


